@using Sk8ARG.Models
@{
    ViewBag.Title = "ListSKP";
}
<link rel="stylesheet" type="text/css" href="~/Content/tabla.css" />
<h2>ListSKP</h2>

@foreach (SkateParks a in ViewBag.Lista)
{
<div class="gallery">
    <a href="@Url.Action("DetalleSKP","Home",new { idSKP = a.IdSkatePark }))">
        <img src="~/Content/images/@a.Imagen">
    </a>
    <div class="desc">@a.Nombre</div>
</div>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />