@using Sk8ARG.Models

<link rel="stylesheet" type="text/css" href="~/Content/Abm.css" />
@{ ViewBag.Title = "ABM"; }
<h2>ABM</h2>
<div>
    <ul id="ListaElec">
        <li><a href="@Url.Action("ABMS", "BackOffice", new { a = 1 })">Skateparks</a></li>
        <li><a href="@Url.Action("ABMS", "BackOffice", new { a = 2 })">Ropa</a></li>
        <li><a href="@Url.Action("ABMS", "BackOffice", new { a = 3 })">Hardware</a></li>
    </ul>
</div>
