@using Sk8ARG.Models
<link rel="stylesheet" href="~/Content/TemplateHome/fontawesome-5.5/css/all.min.css" />
<link rel="stylesheet" href="~/Content/TemplateHome/slick/slick.css">
<link rel="stylesheet" href="~/Content/TemplateHome/slick/slick-theme.css">
<link rel="stylesheet" href="~/Content/TemplateHome/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="~/Content/TemplateHome/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/TemplateHome/css/templatemo-style.css" />
    <div >
        <a href="@Url.Action("Index","Home")" class="navbar-brand2">Sk8Arg</a>
    </div>

<link rel="stylesheet" type="text/css" href="~/Content/Abm.css" />
@{ ViewBag.Title = "ABM"; }
<h2>ABM</h2>
<div>
    <ul id="ListaElec">
        <li><a href="@Url.Action("ABMS", "BackOffice", new { a = 1 })">Skateparks</a></li>
        <li><a href="@Url.Action("ABMS", "BackOffice", new { a = 2 })">Ropa</a></li>
        <li><a href="@Url.Action("ABMS", "BackOffice", new { a = 3 })">Hardware</a></li>
    </ul>
</div>
