@using Sk8ARG.Models
@model Hardware
<link rel="stylesheet" type="text/css" href="~/Content/EstilosABM.css" />

@{
    ViewBag.Title = "ABMS";
}
<h2>ABMSkatePark</h2>
@Html.ActionLink("Ingresar nuevo hardware", "ingresar", "BackOffice", new { accion = "Ingresar" }, null)
<table>
    @foreach (Hardware hw in ViewBag.Lhw)
    {
    <tr>
        <th>Nombre</th>
        <th>Foto</th>
        <th>Destacar</th>
        <th>Eliminar</th>
        <th>Editar</th>       
    </tr>
        <tr>
            <td>@hw.Nombre</td>
            <td><img src="~/Content/images/@hw.Foto" width="199" height="99" /></td>
            @if (hw.Dest)
            {
                <td><img src="~/Content/images/yadestacada.jpg" width="199" height="99" /></td>
            }
            else
            {
                <td><img src="~/Content/images/destacar.jpg" width="199" height="99" /></td>
            }
            
            <td><a href='@Url.Action("eliminar", "Backoffice", new { idHw= hw.IdHW})'>X</a></td>
            <td><a href='@Url.Action("editar", "Backoffice", new { idHw = hw.IdHW, accion = "Editar" })'>Editar</a></td>
        </tr>
    }
</table>
