@using Sk8ARG.Models
@model Ropa
<link rel="stylesheet" type="text/css" href="~/Content/EstilosABM.css" />

@{
    ViewBag.Title = "ABMS";
}
<h2>ABMSkatePark</h2>
@Html.ActionLink("Ingresar nueva ropa", "ingresar", "BackOffice", new { accion = "Ingresar" }, null)
<table>
    @foreach (Ropa rp in ViewBag.Lr)
    {
        <tr>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Destacar</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
        <tr>
            <td id="a2">@rp.Nombre</td>
            <td><img src="~/Content/images/@rp.Foto" width="199" height="99" /></td>
            @if (rp.Dest)
            {
                <td ><img src="~/Content/images/yadestacada.jpg" width="199" height="99" /></td>
            }
            else
            {
                <td ><img src="~/Content/images/destacar.jpg" width="199" height="99" /></td>
            }

            
            <td ><a href='@Url.Action("eliminar", "Backoffice", new { idRopa = rp.IdRopa})'>X</a></td>
            <td ><a href='@Url.Action("editar", "Backoffice", new { idRopa = rp.IdRopa, accion = "Editar" })'>Editar</a></td>
        </tr>
    }
</table>
